@import "tailwindcss";

:root {
  --base: oklch(0.89 0.01 285);
  --hover: oklch(0.99 0.03 285);
}

@theme {
  --color-base: var(--base);
  --color-hover: var(--hover);
}

@utility input-standard {
  @apply border border-gray-300 rounded px-3 py-2 outline-none focus:border-blue-500;
}
